/*media print*/

@page {
	margin-top: 0;
	margin-bottom: 0;
}

@media print {
    body {
        /*width: auto!important;*/
        margin: 8% 0;
        font-family: serif;
        font-size: 10pt;
        /*background-color: #fff!important;
        color: #000!important;*/
    }

/********** PRESENTATION **********/

    .presentation {
        width: 25%;
        height: 7%;
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0.8vh 1vh;
    }

/********** TITRE **********/

    .titre {
        width: 55%;
        height: 5%;
        margin-left: 45%; 
        margin-top: -10%;
        font-size: 22pt;
        color: #046380;
    }

/********** EXPERIENCES **********/

    .experience {
        width: 55%;
        height: auto;
        margin: 15% 0% auto;
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0 0.8vh 1vh;
    }
    .annee {
        margin-top: 5%;
    }
    .fonction {
        margin-top: 2%;
    }
    .lieu {
        color: darkslategray;
        margin-top: 1.5%;
    }

/********** COMPETENCES **********/

    .competence {
        width: 31.5%;
        height: auto;
        margin: -55.5% 0% auto 65%;
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0.8vh;     
    }
    .titrecomp {
        padding: 1vh 0;
    }
    .comp {
        color: darkslategray;
        padding: 0.5vh 0;
    }

/********** LANGAGES **********/

    .langages {
        width: 31.5%;
        height: auto;
        margin: -42% 0% auto 65%; 
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0.8vh;
    }
    .titrelang {
        padding: 0.5vh 0 ;
    }
    .lang {
        padding: 0.5vh 0;
    }

/********** FORMATION **********/

    .formation {
        width: 31.5%;
        height: auto;
        margin: -27.5% 0% auto 65%;
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0.8vh;
    }
    .formation .annee {
        padding: 0;
    }
    .formation .intitule {
        padding: 0.5vh 0;
    }
    .formation .lieu {
        padding: 0.5vh 0;
    }

/********** HOBBIES **********/

    .hobbies {
        width: 96.5%;
        height: auto;
        margin: 58% 0% auto;
        text-align: center;
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0.8vh;
    }

    /* 
    .print {
        display: block;
        affichage des éléments de classe print 
    }
    #menu,
    #footer,
    aside {
        display: none;
    } */

}