/*media print*/

@media print {
    body {
        /*width: auto!important;*/
        /*margin: auto!important;*/
        font-family: serif;
        font-size: 10pt;
        /*background-color: #fff!important;
        color: #000!important;*/
    }

/********** PRESENTATION **********/

    .presentation {
        width: 30%;
        height: 7%;
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0.8vh;
    }

/********** TITRE **********/

    .titre {
        width: 55%;
        height: 5%;
        margin-left: 40%; 
        margin-top: -10%;
        font-size: 20pt;
        color: #046380;
    }

/********** EXPERIENCES **********/

    .experience {
        width: 55%;
        height: auto;
        margin: 12% 0% auto;
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0 0.8vh 0.5vh;
    }
    .annee {
        margin-top: 3%;
    }
    .fonction {
        margin-top: 1%;
    }
    .lieu {
        color: darkslategray;
    }

/********** COMPETENCES **********/

    .competence {
        width: 32%;
        height: auto;
        margin: -45% 0% auto 65%;
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0.8vh;     
    }
    .comp {
        color: red;
    }

/********** LANGAGES **********/

    .langages {
        width: 32%;
        height: auto;
        margin: -65% 0% auto 65%; 
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0.8vh;
    }

/********** FORMATION **********/

    .formation {
        width: 32%;
        height: auto;
        margin: -11% 0% auto 65%;
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0.8vh;
    }

/********** HOBBIES **********/

    .hobbies {
        width: 98%;
        height: auto;
        margin: 92% 0% auto;
        text-align: center;
        border: 2px solid lightgrey;
        border-radius: 1%;
        padding: 0.8vh;
    }


    /* .print {
        display: block;
        affichage des éléments de classe print 
    } */

    }
    #menu,
    #footer,
    aside {
        display: none;
}